@import '../../assets/scss/animations/animate-categories.scss';

.menu {
    position: absolute;
    top:2rem;
    left:0;
    z-index: 1;

    .navbar-nav a {
        opacity:.5;
    }

    .navbar-nav a:hover {
        text-decoration: none;
        opacity:1;
    }
}


.menu .navbar-nav a:not(.dropdown-item) {
    color:white;
    font-family: 'Montserrat';
}