@import "../../assets/scss/animations/animate-categories.scss";

.menu {
	top: 2rem;
	color: white;
	left: 0;
	z-index: 2;
	// background: black;

	.navbar-nav a {
		opacity: 0.5;
	}

	.navbar-nav a:hover {
		text-decoration: none;
		opacity: 1;
	}
}

.menu .navbar-nav a:not(.dropdown-item) {
	color: white;
	font-family: "Montserrat";
}
