.dc-contact-background {
    background:url('../../../assets/images/pexels-lisa-fotios-1090638.jpg');
    width:100%;
    height:100vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center center;
    position:relative;
    z-index: 1;
    
    &::after {
        position:absolute;
        content:'';
        top:0;
        left:0;
        bottom:0;
        right:0;
        background-color:rgba(black, .3);
    }

    .container {
        z-index:1;
        position: relative;
    }

    .dc-contact {
        box-shadow: 0px 8px 15px rgba(0, 0, 0, .4);
        border-radius:5px;
        overflow: hidden;
        &_form {
            background-color:rgba(black, .8);
            padding:2rem;
            
            input, textarea {
                background-color:transparent;
                border-radius:0;
                color:lightgray;
                border:1px solid lightgray;
                &:focus {
                    box-shadow:none;
                }
            }
    
            label, ::placeholder {
                color:lightgray;
            }
    
            button[type="submit"] {
                border:2px solid lightgray;
                border-radius:0;
                background-color:transparent;
                color:lightgray;
                max-width:150px;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                width:100%;
                border-radius:50px;
            }
        }

        &_welcome {
            background-color:#fff;
            padding:1.5rem;
            position:relative;
            border:3px dashed red;

            img {
                width:35%;
            }

            &-info  {
                a {
                    color:black!important;
                }
            }
        }
    }
}