
.carousel-wrapper {
    height:100vh!important;
}

.carousel-wrapper::before {
    background-color: rgba(0, 0, 0, 0.37);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.carousel-wrapper p {
    color:darkgray;
}

.carousel-info {
    position:relative;
}

.carousel-info::after {
    position:absolute;
    background-color:lightgray;
    top:0;
    left:0px;
    width:1px;
    height:125%;
    content:''
}

.carousel-category {
    position: absolute;
    transform: rotate(-90deg);
    top:90px;
    /* transform: skewY(20deg); */
    transform-origin: 0 0;
    left:-30px;
}

.carousel-id {
    position: absolute;
    top:-45px;
    color:white;
    transform: skewY(20deg);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    left:0px;
}

.dots-holder {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.dots-wrapper {
    position: relative;
}

.dots-wrapper span {
    display: block;
    
}

.dots-wrapper span:not(:last-child) {
    margin-bottom:2rem;
}

#line1, #line2 {
    width:1px;
    height:120px;
    background:white;
    display: block;
    margin-left:50%;
    position: relative;
}

#line1 {
    margin-bottom:1rem;
}

#line1::after {
    position: absolute;
    width:8px;
    height:8px;
    background:white;
    top:0;
    border-radius:50%;
    transform: translate(-50%);
    content:''
}

#line2 {
    margin-top:1rem;
}

#line2::after {
    position: absolute;
    width:8px;
    height:8px;
    background:white;
    bottom:0;
    border-radius:50%;
    transform: translate(-50%);
    content:''
}



















