@import '../assets/scss/buttons/admin-buttons';



.admin-blog {
	
	padding-top:10rem;

	.blog-form {
		
		.RichEditor-styleButton {
			@include admin-btn;
		}
	}
	
	.editor {
		.strikethrough {
			text-decoration: line-through;
		}
	
		blockquote.RichEditor-blockquote {
			border-left: 5px solid black;
			margin-right: 2rem;
			padding: 1rem;
			background: aliceblue;
			font-style: italic;
	
			div {
				margin-left: 1rem;
			}
		}
	
		.DraftEditor-root {
			box-sizing: border-box;
			border: 1px solid #ddd;
			z-index:0;
			cursor: text;
			padding: 16px;
			border-radius: 2px;
			margin-bottom: 2em;
			box-shadow: inset 0px 1px 8px -3px #ababab;
			background: #fefefe;
		}
	
		.options {
			margin-bottom: 20px;
		}
	
		.public-DraftEditor-content {
			min-height: 700px;
			height: 100%;
		}
	
		.DraftEditor-editorContainer {
			cursor: text;
			font-size: 16px;
		}
	
		.styleButton#bold {
			font-weight: bold;
		}
	
		.styleButton#italic {
			font-style: italic;
			font-family: serif;
		}
	
		.styleButton#underline {
			text-decoration: underline;
		}
	
		.toolbar {
			text-align: center;
			margin: 0.5em;
			padding: 0.5em;
		}
	
		button,
		select {
			background: white;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
		}
	
		.styleButton#bold {
			font-weight: bold;
		}
	
		.styleButton#italic {
			font-style: italic;
			font-family: serif;
		}
	
		.styleButton#underline {
			text-decoration: underline;
		}
	
		.toolbar {
			text-align: center;
			margin: 0.5em;
			padding: 0.5em;
		}
	
		select {
			padding: 0.5em;
			border: none;
			margin: 0.35em;
			border-radius: 6px;
			font-family: "Open Sans";
			font-size: 13px;
			height: 2.25em;
		}
		
		.styleButton,
		select,
		.RichEditor-styleButton,
		button:not(.btn-danger):not(.react-datepicker__navigation):not(.draftJsEmojiPlugin__button__qi1gf):not(.navbar-toggler) {
			@include admin-btn;
		}
	
		.RichEditor-activeButton {
			background-color: #feb47b;
			color: red;
		}
	}
	
}