.strikethrough {
	text-decoration: line-through;
}

.DraftEditor-root {
	background: #fff;
	border: 1px solid #ddd;
	font-family: "Georgia", serif;
	font-size: 14px;
	padding: 15px;
	color: black;
}

.public-DraftEditor-content {
	min-height: 200px;
}

.DraftEditor-editorContainer {
	cursor: text;
	font-size: 16px;
}

button:not(btn-danger),
select {
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.styleButton#bold {
	font-weight: bold;
}

.styleButton#italic {
	font-style: italic;
	font-family: serif;
}

.styleButton#underline {
	text-decoration: underline;
}

.toolbar {
	text-align: center;
	margin: 0.5em;
	padding: 0.5em;
}

select,
.styleButton,
.RichEditor-styleButton,
button {
	padding: 0.5em;
	background-image: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
	border: none;
	margin: 0.35em;
	width: fit-content;
	padding: 0.5rem 1rem;
	color: black;
	font-family: "Open Sans";
	font-size: 13px;
	border-radius: 4px;
}

.RichEditor-activeButton {
	background-color: #feb47b;
	color: red;
}
