$delay: 0.03s;
// colors

$colors: (c1: darkslateblue, c2: mediumorchid, c3: seagreen, c4:steelblue, c5:red, c6: lightgray );

// @each $name, $color in $colors {
//   .a-#{$name} {
//     color: $color;
//   }
// }

h6 {
    opacity:.5;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        opacity:1;
    }
}

.v-hidden h6 {
    visibility: hidden;
}

.v-shown h6 {
    visibility: visible;
}


@for $i from 1 through 6 {
    .v-hidden h6:nth-child(#{$i}) {
      transition-delay: $delay * $i;
      visibility: hidden;
    }
}

@for $i from 1 through 6 {
    .v-shown h6:nth-child(#{$i}) {
      transition-delay: $delay * $i;
      visibility: visible;
    }
}



